################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/OccWeb/.vs
/Source/OccWeb/OccWeb/bin
/Source/OccWeb/OccWeb/obj/Debug
/Source/OccWeb/packages
/Source/OccWeb/OccWeb.Domain/obj/Debug
/Source/OccWeb/OccWeb.Domain.Tests/obj/Debug
/Source/OccWeb/OccWeb.Domain/bin/Debug
/Source/OccWeb/OccWeb.Domain.Tests/bin/Debug
/Source/OccWeb/OccWeb.Db/bin/Debug
/Source/OccWeb/OccWeb.Db/obj/Debug
/Source/OccWeb/OccWeb.Domain/OccWeb.Domain.csproj.user
/Source/OccWeb/OccWeb.Db/bin/Debug
/Source/OccWeb/OccWeb.Db/obj/Debug
/Source/OccWeb/SapExportSimulator/bin/Debug
/Source/OccWeb/SapExportSimulator/obj/Debug
Source/OccWeb/OccWeb/logs/OccWeb.log
/Source/OccWeb/OccWeb.Domain/bin/Release
/Source/OccWeb/OccWeb/obj/Release
/Source/OccWeb/OccWeb.Domain/obj/Release
/Source/OccWeb/OccWeb.Db/obj/Release
/Source/OccWeb/SapExportSimulator/obj/Release
/Source/OccWeb/OccWeb.Domain.Tests/obj/Release
/Source/OccWeb/OccWeb.BackgroundService/obj/Debug
/Source/OccWeb/OccWeb.BackgroundService/bin/Debug
/Source/OccWeb/OccWeb.BackgroundService/obj/Release
/Source/OccWeb/OccWeb/logs
/Source/OccWeb/OccWeb/Documents/2017/1
/Source/OccWeb/bin/Debug
/Source/OccWeb/OccWeb/Documents/2017/5
/Source/OccWeb/OccWeb/Content/Images/Thumbs.db
/Source/OccWeb/OccWeb/Documents/2017/6
